---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono"
---

<Layout>
	<div class="container pt-24 font-sans h-screen text-white">
		<div>
			<h1 class="text-4xl mb-4 font-serif">Tomas Glavina </h1>
			<h1 class="text-4xl mb-4 font-serif text-slate-500">Software Engineering Student </h1>
		</div>
	</div>
</Layout>
