---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono"
---

<Layout>
	<div class="container font-sans h-screen text-white">
		<div>
			<h1 class="text-4xl mb-4 font-mono">Welcome to my blog! </h1>
			<button class=" btn">Bye!!!!!</button>
		</div>
	</div>
</Layout>
