---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono"
---

<Layout>
	<div class="font-mono container mx-auto">
		<h1>Hola</h1>
		<button class=" btn">Bye!!!!!</button>
	</div>
</Layout>
