---
const items = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Blog",
    path: "/blog",
  },
  {
    name: "About",
    path: "/about",
  },
];
---

<nav
  class="bg-zinc-900 text-white font-sans border-b-2 border-gray-600 sm:px-4 py-2.5 rounded fixed w-full z-20 top-0 left-0 dark:bg-gray-900"
>
  <div class="container text-white flex flex-wrap items center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <img src="public/favicon.ico" class="h-6 mr-3 sm:h-9" alt="page-logo" />
      <span
        class="self-center text-2xl font-mono font-semibold whitespace-nowrap"
      >
        Tomas Glavina</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-zinc-300 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path></svg
      >
    </button>
    <div class="hidden h-full w-full md:block md:w-auto md:ml-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 border border-zinc-300 rounded-lg bg-zinc-800 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0  md:bg-zinc-900 text-white "
      >
        {
          items.map((item) => (
            <li class="block m-0">
              <a
                href={item.path}
                class="block py-4 pl-3 pr-4  text-white rounded md:hover:text-lime-200 md:border-0 md:p-0"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
