---
import BaseHead from "./BaseHead.astro";
import Navbar from "@components/Navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead/>
  <body class="font-mono p-10 bg-gray-800">
      <Navbar/>
      <div class="max-w-5xl mx-auto mt-16">
        <slot/>
      </div>
  </body>
</html>